---
title: Modern Methods in Moduli
subtitle: workshop at the University of Luxembourg, November 26&ndash;28 2024
layout: page
hide_footer: true
---
<h3>Description</h3>
<p>The aim of the workshop is to stimulate interactions between various aspects of moduli theory,
and its recent developments.

<h3>List of speakers</h3>
<ul class="names">
{% for speaker_id in site.data.speakers %}
{% assign speaker = speaker_id[1] %}
  <li><span class="name">
  {% if speaker.website %}
    <a href="{{ speaker.website }}">{{ speaker.name }}</a>
  {% else %}
    {{ speaker.name }}
  {% endif %}
  </span>
  {% if speaker.online %}
    *
  {% endif %}
  (<span class="affiliation">{{ speaker.affiliation }}</span>)
{% endfor %}
</ul>


<h3>Organisation</h3>
<p>The workshop is organised by
<ul>
  <li><a href="https://pbelmans.ncag.info">Pieter Belmans</a> (University of Luxembourg)
  <li><a href="https://sites.google.com/view/sarahscherotzke/">Sarah Scherotzke</a> (University of Luxembourg)
  <li><a href="https://sites.google.com/view/nicolo-sibilla">Nicolò Sibilla</a> (SISSA)
</ul>

<p>The workshop is supported by the <a href="https://www.fnr.lu">Luxembourg National Research Fund</a>,
through OPEN: AdEMAR (FNR–17113194)
and OPEN: DeMoReSh (FNR-18107005).
<p><a href="https://www.fnr.lu"><img src="/assets/fnr-logo.jpg" width="200"></a>
